@{
    ViewData["Title"] = "About";
}

<style>
    .highlighted{
        color: #FE989A;
    }
</style>

<vc:navigation></vc:navigation>

<div class="d-flex justify-content-between gap-5 mt-5">
    <img src="~/css/about.png" />
    <div>
        <h1>WELCOME TO <span class="highlighted">DEBRA</span></h1>
        Timekeeper provide how all this mistaken idea of denouncing pleasure and sing pain was born an will give you a complete account of the system, and expound the actual teachings of the eat explorer of the truth, the mer of human.
        <h4>WIN BEST ONLINE SHOP AT 2021</h4>
        Timekeeper provide how all this mistaken idea of denouncing pleasure and sing pain was born an will give you a complete account of the system, and expound the actual teachings of the eat explorer of the truth, the mer of human.
    </div>
</div>

<div class="d-flex mt-5 mb-5">
    <div>
        <h3>OUR VISSION</h3>
        Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
    </div>
    <div>
        <h3>OUR MISSION</h3>
        Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
    </div>
    <div>
        <h3>OUR GOAL</h3>
        Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
    </div>
</div>

<div class="d-flex justify-content-evenly mb-5">
    <img src="~/css/about-small-1.jpg" />
    <img src="~/css/about-small-2.jpg" />
    <img src="~/css/about-small-3.jpg" />
    <img src="~/css/about-small-4.jpg" />
    <img src="~/css/about-small-5.jpg" />
</div>