@{
    ViewData["Title"] = "Size Chart";
}

<style>
    td, tr {
        border: #DEE2E6 solid 1px;
        border-collapse: collapse;
        padding: 10px;
    }
</style>

<vc:navigation></vc:navigation>

<h3 class="mt-5">Size Chart</h3>
<table class="mb-5"> 
<tbody>
<tr>
<td class="cun-name"><span>UK</span></td>
<td>18</td>
<td>20</td>
<td>22</td>
<td>24</td>
<td>26</td>
</tr>
<tr>
<td class="cun-name"><span>European</span></td>
<td>46</td>
<td>48</td>
<td>50</td>
<td>52</td>
<td>54</td>
</tr>
<tr>
<td class="cun-name"><span>usa</span></td>
<td>14</td>
<td>16</td>
<td>18</td>
<td>20</td>
<td>22</td>
</tr>
<tr>
<td class="cun-name"><span>Australia</span></td>
<td>28</td>
<td>10</td>
<td>12</td>
<td>14</td>
<td>16</td>
</tr>
<tr>
<td class="cun-name"><span>Canada</span></td>
<td>24</td>
<td>18</td>
<td>14</td>
<td>42</td>
<td>36</td>
</tr>
</tbody>
</table>